.product-form {
  width: 100%;
}

.form-field {
  margin-top: 20px;
}

.price-field {
  display: flex;
  justify-content: space-between;
}

.form-field textarea {
  width: 100%;
}

.summary-contents {
  padding: 10px 20px;
}
.summary-item {
  margin-top: 10px;
}

.rental {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
