.product-list {
  margin-top: 30px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  width: 92.5%;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 20px 40px;
  border-radius: 5px;
  transition: 0.5s;
}
.product-card:hover {
  border: 1px solid #aaa;
}
.first-row {
  display: flex;
  justify-content: space-between;
}
.sub {
  color: #999;
}
.price {
  margin-top: 5px;
}
.description {
  margin-top: 10px;
  width: 85%;
}
.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.details {
  cursor: default;
  border: none;
}
.details:hover {
  border: none;
}
.details .first-row {
  padding: 30px 0;
}
.details .footer {
  margin-top: 100px;
}
